doctype html 

html
    head 
        link(rel='stylesheet' href='/css/index.css')

    body
        div.navbar
            h2.navlogo='Computer Parts'

            a(href='/').url.navbtn
                 h5='Home'
            
            a(href='/About').url.navbtn
                 h5='About'
                 
            a(href='/login').url.navbtn
                h5='Login'
        
        div.container
            block content 

        div.footer
            p='Footer content'

    script(src='/scripts/index.js')