extends index.pug 

block content
    //navbar
    div.content
        h4.title='Category : ' + catName

        if products
            ul.home-list
                for val in products
                    li.list-item
                        div
                            p='Name : ' + val.name
                            p='manufacturer : ' + val.manufacturer
                            p='Stock : ' + val.stock
                            p='Price : ' + val.price
        else
            h4='No Products'

        


        a(href=`/products/addproducts/${id}`)='Add Product'
    